.row{
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    /* padding-bottom: 0.01rem; */
    overflow-x: scroll;
}
.subTitle{
    margin-left: 4px;
    margin-top: 1px;
    margin-bottom: 1px;
}
.poster{
    cursor: pointer;
    max-height:10rem;
    margin-right: 10px;
}
.posters::-webkit-scrollbar{
    display: none;
}
.smallPoster{
    cursor: pointer;
    max-height: 8rem;
    margin-right: 10px;
}
.poster:hover{
    transform: scale(1.1);
}
.smallPoster:hover{
    transform: scale(1.1);
}